@charset "utf-8";
/* CSS Document */
body{
 margin: 0;
 border: 0;
}

.header{
	background-color: #f6f6f6;
}


.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #172a3a;
  font-family: 'Quicksand', sans-serif;
}

.topnav li{
  float: left;
}

.topnav li a{
	display: block;
  color: white;
  text-align: center;
  text-decoration: none;
	padding: 10px 190.3px;
	margin: 0;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8da9c4;
    color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #13315c;
  color: #ffffff;
}


/*.column {*/
/*  float: left;*/
/*  width: 50%;*/
/*}*/

/* Clear floats after the columns */
/*.row:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/


